In [31]:
import sqlite3
# connecting database file  using SQLite
db= sqlite3.connect('IMDB.sqlite')
db

In [36]:
db=sqlite3.connect('School.sqlite')
db

In [37]:
cur=db.cursor()
cur

In [ ]:
sql_query = 'Create table Students (RollNumber int Primary key, Name Text, Age int)'
cur.execute(sql_query)

In [ ]:
cur.execute('Insert into Students values (101,"Aakash",20)')

In [ ]:
#any kind of changes in db will not change directly, we have to pass a command.
#to make it save into database we have to use command - COMMIT
db.commit()

In [39]:
cur.execute('Insert into Students values (102,"Madhav",21)')

OperationalError: database is locked

In [ ]:
db.commit()

In [ ]:
# to close the connection with db
db.close()

In [19]:
#error will occur after closing connection.
cur.execute('Insert into Students values (102,"Madhav",21)')

ProgrammingError: Cannot operate on a closed database.

In [20]:
import sqlite3

In [21]:
db=sqlite3.connect('IMDB.sqlite')
db

In [22]:
cur=db.cursor()
cur

In [23]:
cur.execute('Create table Money (Currency text, Amount int, Rank int Primary key)')

OperationalError: table Money already exists

In [44]:
db=sqlite3.connect('School.sqlite')
db
cur=db.cursor()
cur

In [45]:
#ADDING 1 more row
cur.execute('Insert into Students values (103,"Mohit",24)')

OperationalError: database is locked

In [ ]:
db.commit()

In [ ]:
rollNumber = 104
Name = "Nikhil"
age=34

cur.execute('Insert into Students values (?,?,?)',(rollNumber,Name,age))

In [ ]:
db.commit()

### To add multiple values into db using executemany

In [41]:
values= [(105,"Rakesh",20),(106,"Manisha",21),(107,"Ankush",22)]
cur.executemany('Insert into Students values (?,?,?)', values)

OperationalError: database is locked

In [ ]:
db.commit()

In [43]:
cur.execute('Update Students set Age=30')

OperationalError: database is locked