In [14]:
import sqlite3
db= sqlite3.connect('Schools.sqlite')
db

In [15]:
cur=db.cursor()
cur

OperationalError: database is locked

In [ ]:
db.commit()

In [16]:
cur.execute('Create table STUDENT (RollNumber int, Name varchar(100), Age int)')

In [21]:
cur.execute('Insert into STUDENT values (101,"Aman",20)')

In [22]:
db.commit()

In [24]:
roll=104
Name='Nikhil'
age=34
cur.execute('Insert into STUDENT values (?,?,?)',(roll,Name,age))

In [25]:
db.commit()