In [1]:
import sqlite3
db=sqlite3.connect('School.sqlite')
db

In [2]:
cur=db.cursor()
cur

In [3]:
cur.execute('Select * from Student')

In [5]:
# One way to fetch
for row in cur:
    print(row)

In [7]:
#FETCHONE()- Inbuilt function for fetching 1 row of the data.  
cur.execute('Select * from Student')
cur.fetchone()

(0, 101, 'Aman', 30, 'Test')

In [9]:
cur.execute('Select * from Student')
print(cur.fetchone()) #ROW 1
print(cur.fetchone()) #ROW 2

(0, 101, 'Aman', 30, 'Test')
(1, 102, 'Amit', 20, 'Test')

In [11]:
#FETCHMANY() - Inbuilt function for fetching N number of data. and result returned as a list.
cur.execute('Select * from Student')
print(cur.fetchmany(3))

[(0, 101, 'Aman', 30, 'Test'), (1, 102, 'Amit', 20, 'Test'), (2, 103, 'Mohit', 50, 'Test')]

In [12]:
cur.execute('Select * from Student')
print(cur.fetchmany())

[(0, 101, 'Aman', 30, 'Test')]

In [14]:
#FETCHALL- For fetching all rows.
cur.execute('Select * from Student')
ans=cur.fetchall()
ans

[(0, 101, 'Aman', 30, 'Test'),
 (1, 102, 'Amit', 20, 'Test'),
 (2, 103, 'Mohit', 50, 'Test'),
 (3, 104, 'Nikhil', 30, 'Test'),
 (4, 105, 'Nidhi', 30, 'Test'),
 (5, 106, 'Manisha', 30, 'Test'),
 (6, 107, 'Ankush', 30, 'Test')]

In [16]:
cur.execute('Select * from Student where RollNumber >103')
print(cur.fetchall())

[(3, 104, 'Nikhil', 30, 'Test'), (4, 105, 'Nidhi', 30, 'Test'), (5, 106, 'Manisha', 30, 'Test'), (6, 107, 'Ankush', 30, 'Test')]

In [18]:
cur.execute('Select * from Student where Name like "A%"')
print(cur.fetchall())

[(0, 101, 'Aman', 30, 'Test'), (1, 102, 'Amit', 20, 'Test'), (6, 107, 'Ankush', 30, 'Test')]